<html>
<head>
	<title>Add a SAMR Event</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename = 'styles.css') }}">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script>
		$(function() {
			$( "#datepicker" ).datepicker();
		});
 	</script></head>
<body>

<div id = "header">

	<h1>Society for Arab Music Research</h1>
	<p class = "menu">
		<span class="menu-item"><a class='button' href= "https://www.facebook.com/groups/378262162265234" target = "_blank">Facebook</a></span>
		<span class="menu-item"><a class='button' href="http://www.mailman.srv.ualberta.ca/mailman/listinfo/samr-list" target="_blank">Suscribe to the Listserv</a></span>
		<span class="menu-item"><a class='button' href="{{ url_for( 'bios' ) }}">Members</a></span>
		<span class="menu-item"><a class='button' href="{{ url_for( 'events' ) }}">Events</a></span>
	</p>

</div>

<div id = "wrapper">

	<div class = 'outer full'>
		<div class = 'inner'>	
			<h1>Add a New Event</h1>
			<a class = 'button' href= "{{ url_for('home') }}">Back to home</a>
			<a class = 'button' href= "{{ url_for('events') }}">Back to events</a>
			<div>
				<form action = "{{ url_for('addEvent') }}" method = 'post'>
					<center>
						<table>
						<tr><td>Title: </td><td><input type = 'text' max = '80' name = 'title'></td></tr>
						<tr><td>Location: </td><td><input type = 'text' max = '250' name = 'location'></td></tr>
						<tr><td>Description: </td><td><input type = 'text' max = '250' name = 'description'></td></tr>
						<tr><td>Hosted by (ID Number): </td><td><input type = 'max' name = 'host_id'></td></tr>
						<tr><td>Start Date: </td><td><input id = 'datepicker' type = 'text' name = 'start_date'></td></tr>
						<tr><td><input type = 'submit' value = 'Add Event'></td><td></td></tr>
					</table></center>
				</form>
			</div>
		</div>
	</div>
</div><!-- .wrapper -->

<div id = "footer">
	<p>Website designed by <a target='_blank' href="http://witulski.wordpress.com">Christopher Witulski</a>, &copy; 2016</p>
</div>

</body>