<html>
<head>
	<title>SAMR Members</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename = 'styles.css') }}">
</head>
<body>

<h1>SAMR Members</h1>
<p><a href= "https://www.facebook.com/groups/378262162265234" target = "_blank">SAMR Facebook page</a></p>
<p><a href= "{{ url_for('home') }}">Back to home</a></p>
<p><a href="{{ url_for('addBio') }}">Add your information</a></p>

	{% with messages = get_flashed_messages() %}
	{% if messages %}
		<center><p class="message">
		{% for m in messages %}
			<strong>{{ m }}</strong><br>
		{% endfor %}
		</p></center>
	{% endif %}
	{% endwith %}

<div>
	<h2>Arabic music researchers</h2>
	
	{% for b in bios %}
	<h3>{{ b.name }}{% if b.affiliation != None %}: {{ b.affiliation }}{% endif %}</h3>
	<ul>
		<li>Interests: {{ b.interests }}</li>
		<li>Email: {{ b.email }}</li>
		<li>Website: <a href="{{ b.website }}" target="_blank">{{ b.website }}</a></li>
		<li><a href="{{ url_for('editBio', bio_id=b.id) }}">Edit</a> or 
			<a href="{{ url_for('deleteBio', bio_id=b.id) }}">delete</a> this member</a></li>
	</ul>
	{% endfor %}

</div>

</body>