<html>
<head>
	<title>Delete {{ event.title }}</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename = 'styles.css') }}">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script>
		$(function() {
			$( "#datepicker" ).datepicker();
		});
 	</script></head>
<body>

<div id = "header">

	<a href = "{{ url_for('home') }}"><h1>Society for Arab Music Research</h1></a>
	<p class = "menu">
		<span class="menu-item"><a class='button' href= "https://www.facebook.com/groups/378262162265234" target = "_blank">Facebook</a></span>
		<span class="menu-item"><a class='button' href="http://www.mailman.srv.ualberta.ca/mailman/listinfo/samr-list" target="_blank">Suscribe to the Listserv</a></span>
		<span class="menu-item"><a class='button' href="{{ url_for( 'bios' ) }}">Members</a></span>
		<span class="menu-item"><a class='button' href="{{ url_for( 'events' ) }}">Events</a></span>
	</p>

</div>

<div id = "wrapper">

	<div class = 'outer full'>
		<div class = 'inner'>	

			<h2>Delete {{ event.title }}</h2>
			<a class = 'button' href= "{{ url_for('home') }}">Back to home</a>
			<a class = 'button' href= "{{ url_for('events') }}">Back to events</a>
		</div>
	</div>

	<div class = 'outer full'>
		<div class = 'inner'>	
			<form action = "{{ url_for('deleteEvent', event_id = event.id) }}" method = 'post'>
				<center>
					<p>Fields with an asterisk (*) are required.</p>
					<table>
					<tr><td>Title: * </td><td><input type = 'text' max = '80' size='40' name = 'title' value = '{{ event.title }}' readonly></td></tr>
					<tr><td>Location: * </td><td><input type = 'text' max = '250' size='40' size='80' name = 'location' value = '{{ event.location }}' readonly></td></tr>
					<tr><td>Description: </td><td><input type = 'text' max = '250' size='40' name = 'description' value = '{{ event.description }}' readonly></td></tr>
					<tr><td>Hosted by: </td><td><input type = 'max' size='40' name = 'host_name' value = "{{ event.host_name }}" readonly></td></tr>
					<tr><td>Contact info: </td><td><input type = 'max' size='40' name = 'contact' value = "{{ event.contact }}" readonly></td></tr>
					<tr><td>Start Date: * </td><td><input id = 'datepicker' type = 'text' name = 'start_date' value = '{{ start_date }}' readonly></td></tr>
					<tr><td><input type = 'submit' value = 'Delete Event'></td><td></td></tr>

				</table></center>

			</form>
		</div>
	</div>

</div>

<div id = "footer">
	<p>Website designed by <a target='_blank' href="http://witulski.wordpress.com">Christopher Witulski</a>, &copy; 2016</p>
</div>

</body>